.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
}

.items_nav {
  box-shadow: 0px 3px 6px #00000029;
}
.filters {
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  color: var(--thick-blue);
}
/* .type {
  padding: 0.5rem 0 0 0;
} */

.category {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.category > p {
  align-self: start;
  padding: 1rem 0.5rem;
  color: var(--thick-blue);
}

.category_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.category_main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f1ed;
  width: 100%;
  padding: 0.5rem 0.9rem;
  height: 4rem;
}
.category_subMain {
  width: 100%;
}
.category_subLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.8rem 0.9rem;
  height: 4rem;
  width: 100%;
}
.category_main p {
  padding: 0 0 0 2.5rem;
}
.category_icon {
  font-size: 1.25rem;
  color: #1a508c;
}
.category_content {
  font-size: 0.9rem;
  color: var(--thick-blue);
}
.filters,
.category {
  display: none;
}

.filter__container {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(240, 240, 240);
}
.filter__split {
  height: 30%;
  width: 1px;
  /* padding: 5rem 0; */
  border-radius: 30%;
  background-color: #1b508c;
  /* width: 10%; */
  /* display: none; */
}
.filter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: rgb(240, 240, 240);
  border-radius: 6px;
  width: 45%;
  position: relative;
}
.filter__main {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  z-index: 9;
  background-color: var(--lightBlue);
}
.filter__main > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 90vw;
  height: 100%;
}
.filter__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.4rem 0;
  font-weight: 500;
}
.filter__header .filter__icon {
  font-size: 1.5rem;
  transform: rotate(45deg);
}
.filter__body {
  width: 100%;
}
.filter__links {
  width: 100%;
  padding: 1rem 0;
}
.filter__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.filter__icon {
  margin-left: 0.5rem;
  font-size: 0.85rem;
}
.filter__options {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 6px;
  z-index: 5;
}
.filter__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}
.filter__apply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4.5rem 0;
}
@media screen and (min-width: 360px) {
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 1000px) {
}

@media screen and (min-width: 1100px) {
  .filter__container {
    display: none;
  }
  .filters,
  .category {
    display: flex;
    flex-direction: column;
  }
  .filter__apply {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
}
